{% extends "::base.html.twig" %}

{% block title %}List Categories{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>
                {{ "Name"|trans }}
            </td>
            <th>
                {{ "Icon"|trans }}
            </th>
            <th>
                {{ "Actions"|trans }}
            </th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>
                {{ category.name }}
            </td>
            <td>
                {{ category.icon }}
            </td>
            <td>
                <a href="{{ path('admin_edit_category', {'id': category.id }) }}" >{{ "Edit"|trans }}</a>
                <a class="delete-item" data-name="{{ category.name }}" href="{{ path('admin_delete_category', {'id': category.id }) }}">{{ "Delete"|trans }}</a>
            </td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}
